body {
    background-color: lightblue;
    font-family: "raleway", sans-serif;
  }
  nav {
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0; 
    height: 50px;
    width: 100vw;
    z-index: 1;
  }
  nav ul li {
    float: right; 
    margin-right: 50px;
    list-style-type: none;
    text-align: center; 
  }
  #brand {
  float: left;
  }
  .nav-link { 
  color: gold;
  text-decoration: none;
  font-family: "Acme", sans-serif;
    font-size: 20pt;
  }
  .nav-link:hover {
    color: lightblue;
    font-weight: bold; 
  }
  #brand .nav-link {
    color: gold; 
    font-size: 20pt; 
  }
  #brand .nav-link:hover {
    color: darkred;
  }
  h1 {
    font-size: 60pt; 
  }
  #home {
    margin-top: 50px;
    position: relative; 
    left: -8px; 
    width: 100vw; 
    height: 30vh;
    padding-top: 3em;
  background: url("https://images.unsplash.com/photo-1554475901-4538ddfbccc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80") center 75% no-repeat fixed;
    background-size: cover; 
  }
  
  .header-tag {
    text-align: center; 
    color: navy;
    text-shadow: 2px 2px 2px lightgreen;
  }
  h3.header-tag {
    margin-top: -30px;
    font-size: 18pt;
  }
  h2 { 
  font-family: "Acme", sans-serif;
    color: darkred;
  }
  .main {
    text-align: center; 
  }
  #about {
    margin-top: 50px;
    display: inline-block;
  }
  #about-picture {
    width: 30vw;
  }
  #profile-pic {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 0.4em;
    box-shadow: 2px 2px 2px black;
    float: right; 
  }

#non-profile-pic {
  height: 300px;
  width: 300px; 
  object-fit: cover; 
  border-radius: 0.4em; 
  box-shadow: 2px 2px 2px black;
  float: left;
}

  #about-content { 
  width: 40vw; 
  float: center; 
  }

  #contact-form {
    margin: auto;
    marting-top: 100px;
    width: 30vw; 
    background-color: grey;
    text-align: center; 
    padding-left: 80px;
    padding-right: 80px; 
    padding-top: 50px;
    border-radius: 0.4em; 
  }

  #contact-form input {
    width: 90%;
    margin-bottom: 20px; 
    height: 50px; 
    font-size: 18px; 
    text-align: center;
  }

  #contact-form h2 {
    color: gold; 
    font-size: 28pts; 
    text-shadow: 6px 6px 6px black; 
  }

  textarea {
    resize: none; 
    height: 200px;
    width: 90%;
    margin-bottom: 30px;
  }